body {
  margin: 0;
  font-family: sans-serif;
}

.link {
  color: white;
}

#top-footer {
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(40,40,40);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgb(80,80,80);
}

.header-sticky {
  position: fixed !important;
  top: 0;
}

#top-footer-text {
  margin: 0;
  color: white;
}

#header {
  left: 0;
  right: 0;
  height: 100px;
  background-color: rgba(255,255,255,.8);
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
}

#header-bg {
  height: 100px;
}

#header-style {
  margin-left: auto;
  height: 100%;
  width: 300px;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-image: linear-gradient(-35deg,
    rgb(100,100,200) 20%,
    rgba(100,100,200,.6) 20%,
    rgba(100,100,200,.6) 40%,
    rgba(100,100,200,.3) 40%)
}

#tern-img {
  height: 120px;
  right: 100px;
  position: absolute;
  z-index: 1;
  transform: rotate(20deg);
}

#logo,
#logo-box {
  height: 80px;
}

#logo-box {
  margin-left: 20px;
}

#header-items-box {
  height: 80px;
  width: auto;
  margin-left: 50px;
}

.header-btn {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  transition: background-color .2s, border-bottom .2s;
  cursor: pointer;
  background-color: rgba(0,0,0,.05);
}
.header-btn:hover {
  transition: background-color .5s, border-bottom .5s;
  background-color: rgb(100,100,200);
  border-bottom: 3px solid rgb(60,60,60);
  color: white
}
.header-btn:focus {
  outline: none;
}

#banner {
  overflow: hidden;
  height: 500px;
  border-top: 5px solid rgb(100,100,200);
}

.banner-image {
  bottom: 500px;
  filter: brightness(.7);
  opacity: 0;
  transition: transform .5s cubic-bezier(.25,.85,.25,1.5), filter .5s, opacity 5s;
}
.banner-image-active {
  opacity: 1;
}
.banner-image-hover {
  filter: brightness(.8) saturate(1.5)
}

#banner-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.banner-box {
  position: absolute;
}

#banner-button-right,
#banner-button-left {
  width: 40px;
  height: 80px;
  background-color: rgba(20,20,20,.1);
  position: absolute;
  z-index: 1;
  transition: background-color .5s;
  cursor: pointer;
  top: 50%;
}
#banner-button-right:hover,
#banner-button-left:hover {
  background-color: rgba(20,20,20,.3);
}
#banner-button-right {
  right: 0;
  border-radius: 50px 0 0 50px
}
#banner-button-left {
  border-radius: 0 50px 50px 0
}

.banner-info {
  color: white;
  position: absolute;
  top: 40%;
  z-index: 1;
  margin-left: 30px;
  transition: opacity 3s;
  display: inline-block;
}

.banner-info-title {
  background-color: rgba(100,100,200,.6);
  padding: 10px;
  white-space: pre;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block
}

.banner-info-desc {
  background-color: rgba(20,20,20,.5);
  word-wrap: break-word;
  width: 80%;
}

#plane {
  position: absolute;
  z-index: 1;
  left: 46%;
  transition: transform .5s cubic-bezier(0.32, 0.63, 0.49, 1.07);
}
#plane-img {
  height: 80px;
  transform: rotate(180deg);
  position: absolute;
}

#info-container-1 {
  background-image: url(https://i.pinimg.com/originals/06/f2/ad/06f2ade566f9d8077c5d6a7032088b38.png);
  background-size: cover;
  left: 0;
  right: 0;
  height: 800px;
}
#info-container-1 .info-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.85);
  color: white;
}
#info-container-1 .info-box .info-image-box {
  right: 0;
  position: absolute;
}
#info-container-1 .info-box .info-image-box .info-image {
  width: 400px;
  max-height: 400px;
  border-radius: 25px;
  margin-right: 50px;
  margin-top: 50px;
  border-right: 5px solid rgb(100,200,100);
  display: block;
}
#info-container-1 .info-box .info-text-box {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  width: 40%;
  line-height: 25px;
}

#info-container-2 {
  background-color: rgb(100,100,200);
  left: 0;
  right: 0;
  height: 300px;
}
#info-container-2 .info-box {
  height: 100%;
  width: 100%;
  color: white;
}

#info-container-3 {
  background-image: url(https://ae01.alicdn.com/kf/HTB1eLXfKFXXXXcDXpXXq6xXFXXX8/Maldives-Sea-Sky-Landscape-Beach-Watercolor-inkjet-Watercolor-inkjet-Fabric-poster-40-x-24-21x13-01.jpg);
  background-size: cover;
  left: 0;
  right: 0;
  height: 850px;
}
#info-container-3 .info-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.85);
  color: white;
}
#info-container-3 .info-box .info-image-box .info-image {
  width: 400px;
  max-height: 400px;
  border-radius: 25px;
  margin-left: 50px;
  margin-top: 50px;
  border-left: 5px solid rgb(100,200,100);
}
#info-container-3 .info-box .info-text-box {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  width: 40%;
  line-height: 25px;
  text-align: right;
}

#footer {
  background-color: rgb(240,240,240);
  width: 100%;
  height: 1000px;
}

#img-magnifier-glass {
  position: absolute;
  border: 3px dashed #000;
  border-radius: 10%;
  cursor: none;
  width: 100px;
  height: 100px;
}
